@use '/styles/vars';

#logolink {
  text-decoration: none;
}

.imgbgr {
  position: absolute;
  z-index: 1;
}

.layoutContainer {
  // border: green solid 5px;
  display: flex;
  flex-direction: column;



  .header {
    // tout le header
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 110px;
    -webkit-box-shadow: 0px 10px 14px -1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 10px 14px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 14px -1px rgb(0 0 0 / 10%);
    background: rgb(235, 232, 232);
    // background: opacity 0.2em;

    .left {
      display: flex;
      flex-direction: row;
    }

    .container {
      // juste le container du haut sans contact
      // border: red 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      &__wrapper {
        display: flex;
        flex-direction: row;
        width: 110%;
        // border: green 1px solid;
      }

      &__title {
        // border: orange 3px solid;
        font-size: 1.7rem;
        font-weight: 700;
        color: vars.$text-purple;
        margin: 0;
        padding-top: 0.3rem;
      }

      &__keyWord {
        margin-top: -6px;
        // border: greenyellow 1px solid;
        color: vars.$text-purple;
        height: 5rem;

        p {
          margin: 0;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .contact {
      // partie basse du header
      // border: blue 1px solid;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      color: vars.$text-purple;
      font-weight: 700;

      a {
        font-weight: bold;
        text-decoration: none;
        color: vars.$text-purple;
        width: fit-content;

      }

      a:hover {
        border-bottom: vars.$text-purple solid 1px;
      }
    }

    img {
      margin: 0rem 1.2rem;
      width: 40px;
      height: 40px;
    }
  }

  .navBar {
    // border: black 1px solid;
    height: 60px;
    padding-top: 0.2rem;
    width: 50%;
  }

  nav {
    width: 100%;
    max-width: 100%;
    text-align: center;

    // border-bottom: vars.$text-yellow 3px solid ;
    .navlink {
      text-decoration: none;
      margin-left: 0.1rem;
      margin-right: 0.1rem;
      color: vars.$text-purple;
      font-size: 1.2rem;
      padding: 0.4rem 0.6rem 0rem 0.9rem;
      outline: 0px vars.$text-purple solid;
    }

    .navlink:hover {
      outline: 0px vars.$text-purple solid;
      color: vars.$text-purple;
      font-size: 1.2rem;
    }

    .navlinkActive {
      outline: 0px vars.$text-purple solid;
      text-decoration: none;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      font-size: 1.2rem;
      font-weight: 700;
      border-bottom: 3px solid vars.$text-purple;
      padding: 0.4rem 0.6rem 0rem 0.9rem;
      outline: 0px vars.$text-purple solid;
      color: vars.$text-purple;
    }
  }

  //****main****//


  //****footer****//
  .footerContainer {
    padding: 0rem 5rem;
    width: 100%;
    height: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;

    .about {
      padding-top: 1rem;
      width: 48%;
      text-align: center;
      font-weight: bold;
      color: vars.$text-purple;

      &__text {
        font-weight: normal;
        font-size: 0.8rem;
      }

      &__link {
        text-decoration: none;
        font-size: 0.8rem;
      }

      &__link:hover {
        border-bottom: vars.$text-purple solid 1px;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        color: vars.$text-purple;
      }

      a:hover {
        border-bottom: vars.$text-purple solid 1px;
      }
    }

    .map {
      width: 48%;
      text-align: center;
      list-style: none;
      font-weight: bold;

      li {
        margin: 0;
        line-height: 1.8rem;
      }

      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: vars.$text-purple;
      }

      a:hover {
        border-bottom: vars.$text-purple solid 1px;
      }
    }
  }
}

@media(min-width: 3073px) {
  .mainContainer {
    margin: 1.5rem 60rem;
  }
}

@media(min-width: 2143px) and (max-width: 3073px) {
  .mainContainer {
    margin: 1.5rem 38rem;
  }
}

@media(min-width: 1570px) and (max-width: 2143px) {
  .mainContainer {
    margin: 1.5rem 17rem;
  }

  .navBar {
    width: 100%;
  }
}

@media(min-width: 1389px) and (max-width: 1570px) {
  .mainContainer {
    margin: 1.5rem 10rem;
  }

  .layoutContainer {
    // border: green solid 5px;
    display: flex;
    flex-direction: column;

    .header {

      padding: 10px 5px;

      .container {
        // juste le container du haut sans contact
        // border: red 1px solid;

        width: 100%;

        &__wrapper {

          width: 110%;
          // border: green 1px solid;
        }

        &__title {
          // border: orange 3px solid;
          font-size: 1.2rem;
        }

        &__keyWord {
          p {
            font-size: 0.9rem;
            font-weight: bold;
          }
        }
      }

      .contact {
        padding-top: 0.2rem;


        a {
          font-size: 0.9rem;
        }

      }

      img {
        margin: 0rem .5rem;
        width: 30px;
        height: 30px;
      }
    }

    .navBar {
      // border: black 1px solid;
      height: 60px;
      padding-top: 0.2rem;
      width: 60%;
    }

    nav {
      width: 100%;
      max-width: 100%;
      text-align: center;

      // border-bottom: vars.$text-yellow 3px solid ;
      .navlink {

        font-size: 1rem;

      }

      .navlink:hover {
        font-size: 1rem;
      }

      .navlinkActive {

        font-size: 1.1rem;

      }
    }

  }
}


// tablette 
@media(min-width: 1024px) and (max-width: 1388px) {
  .mainContainer {
    margin: 1.5rem 6rem;
  }
}

@media(min-width: 767px) and (max-width: 1023px) // test sur ipad ** FINI // reduction taille header ******************

  {
  .mainContainer {
    margin: 1.5rem 2rem;
  }

  // .layoutContainer {
  //   margin-left: 0rem;
  //   margin-right: 0rem;

  //   .header {

  //     // tout le header
  //     h2 {
  //       font-size: 25px;
  //     }

  //     .container {
  //       // juste le container du haut sans contact
  //       height: 8rem;

  //       &__wrapper {
  //         width: 75%;
  //         margin: 1rem 0.5rem 4rem 0.5rem;
  //       }

  //       &__title {
  //         font-size: 2.1rem;
  //       }

  //       &__keyWord {
  //         margin: 1.5rem 1rem 0rem 10rem;

  //         p {
  //           font-size: 1.2rem;
  //         }
  //       }
  //     }

  //     .contact {
  //       // partie basse du header
  //       margin: -1rem 1rem 0rem 7rem;
  //     }

  //     img {
  //       width: 65px;
  //       height: 80px;
  //     }

  //     nav {
  //       .navlink {
  //         font-size: 1.2rem;
  //         padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  //       }

  //       .navlinkActive {
  //         font-size: 1.2rem;
  //       }
  //     }
  //   }

  //   .footerContainer {
  //     padding: 0rem 3rem;

  //     .about {
  //       padding-top: 2.1rem;

  //       &__text {
  //         font-size: 1.1rem;
  //       }

  //       &__link {
  //         font-size: 1.2rem;
  //       }
  //     }

  //     .map {
  //       li {
  //         font-size: 1.1rem;
  //       }
  //     }
  //   }
  // }
}

@media(min-width: 540px) and (max-width: 766px) // test sur surface duo FINI

  {
  .layoutContainer {
    margin-left: 0rem;
    margin-right: 0rem;

    .header {

      // tout le header
      .container {
        // juste le container du haut sans contact
        height: 8rem;

        &__wrapper {
          width: 75%;
          margin: 1rem 0.5rem 4rem 0.5rem;
        }

        &__title {
          font-size: 2.5rem;
        }

        &__keyWord {
          margin: 1.5rem 1rem 0rem 10rem;

          p {
            font-size: 1.2rem;
          }
        }
      }

      .contact {
        // partie basse du header
        margin: 0rem 1rem 0rem 7rem;
      }

      img {
        width: 75px;
        height: 90px;
      }

      nav {
        .navlink {
          font-size: 1.2rem;
          padding: 0.4rem 0.4rem 0.1rem 0.4rem;
        }

        .navlinkActive {
          font-size: 1.2rem;
        }
      }
    }
  }
}