@use '/styles/vars';


.layoutContainer{
  border: green solid 5px;
  display: flex;
  flex-direction: column;
  margin-left: 30rem;
  margin-right: 30rem;
}

.header{ // tout le header
  &__h2{
  text-align: center;
  margin-bottom: 3.5rem;
  color: vars.$text-purple;
  }
  .container{ // juste le container du haut sans contact
    border: red 1px solid;
    display: flex;
    flex-direction: row;
    height: 10.5rem;
    &__wrapper{
      display: flex;
      flex-direction: row;
      width: 60%;
      border: green 1px solid;
      height: fit-content;
      margin: 2rem 1rem 6rem 1rem;
    }&__title{
      border: green 3px solid;
      margin: 2rem 1rem 2rem 0rem;
      font-size: 3rem;
      font-weight: 700;
      color: vars.$text-purple;
    }&__keyWord{
      border: hotpink 2px solid;
      color: vars.$text-purple;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 1.5rem 1rem 0rem 10rem;
      height: 9rem;
    }
  }
  .contact{ // partie basse du header
    margin: 0.2rem 1rem 1.5rem 5rem;
    display: flex;
    flex-direction: column;
    color: vars.$text-purple;
    font-weight: 700;
  }
  img{
    margin-top: 1rem;
    width: 85px;
    height: 100px;
    border: red solid 1px;
  }
  nav{
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0.1rem;
    border-bottom: vars.$text-purple 1px solid;
    .navlink{
      margin-left: 1rem;
      margin-right: 1rem;
      color: vars.$text-purple;
      font-size: 1.5rem;
      padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    }
    .navlink:hover{
      outline: 0px vars.$text-purple solid;
      border-radius: 5px 5px 0px 0px;
      background-color: vars.$text-purple;
      color: honeydew;
    }
  }

}


