@use '/styles/vars';

.formationsBis{
height: 30rem;
}

.formations{
  height: 42rem;
  margin-bottom: 1rem;
  text-align: center;
  &__table{
    width: 100%;
    max-width: 100%;
    font-size: 0.7rem;
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.50);
  }&__generic{
    caption-side: bottom;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem 0rem;
  }&__atex{
    font-size: 16px;
    padding: 1rem 0rem 1.6rem 0rem;
    font-weight: bold;
    text-align:left;
  }&__tfoot{
    caption-side: bottom;
    font-size: 16px;
    padding: 0.9rem 0rem 0rem 0rem;
    font-weight: bold;
  }&__thead{
    background-color: vars.$text-purple;
    margin-bottom: 5px;
    color: #f3f3f3;
    font-size: 0.9rem;
    &__th{
      padding: 9px 5px;
    }&__title{
      padding: 20px 5px;
      border-bottom: 1px solid #dddd;
    }
  }&__tr{
    padding: 5px 0px;
    border-bottom: 1px solid #dddd;
  }&__tr:nth-child(even){
    background-color: #f3f3f3;
  }&__tr:last-child{
    border-bottom: 4px solid vars.$text-purple;
  }&__tr:hover{
    color: vars.$text-purple;
  }
  &__td{
    font-size: 0.9rem;
    padding: 12px 24px;
    div{
      display: flex;
      flex-direction: row;
      a{
        padding: 0px 5px;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }
  }&__tdGreen{
    color: green;
  }
  &__tdRed{
    color: red;
  } &__tdOrange{
    color:orange;
  }
  }

  @media(max-width: 1570px)
{
    .formations{
      padding: 1rem 0.5rem;
  }
}

// @media(min-width: 1389px) and (max-width: 1570px)
// {    .formations{
//   padding: 1rem 0.5rem;
// }
  

// }


// // tablette 
// @media(min-width: 1024px) and (max-width: 1388px){
//   .formations{
//     padding: 1rem 0.5rem;
//   }

// }
@media(min-width: 767px) and (max-width: 1023px) // test sur ipad ** FINI
{
  .formations{
    padding: 0rem;
    &__table{
      
}
  }
}

// @media(min-width: 540px) and (max-width: 766px) // test sur surface duo FINI
//  {

//  }







