@use '/styles/vars';

.formations{
  padding: 2rem 0rem;
  height: 34rem;
  margin-bottom: 10rem;
  text-align: center;
  &__table{
    width: 72rem;
    max-width: 72rem;
    font-size: 0.7rem;
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.50);
  }&__thead{
    background-color: vars.$text-purple;
    margin-bottom: 5px;
    color: #f3f3f3;
    font-size: 0.9rem;
    &__th{
      padding: 9px 5px;
    }&__title{
      padding: 20px 5px;
      border-bottom: 1px solid #dddd;
    }
  }&__tr{
    padding: 5px 0px;
    border-bottom: 1px solid #dddd;
  }&__tr:nth-child(even){
    background-color: #f3f3f3;
  }&__tr:last-child{
    border-bottom: 4px solid vars.$text-purple;
  }&__tr:hover{
    color: vars.$text-purple;
  }&__td{
    font-size: 0.9rem;
    padding: 12px 24px;
    div{
      display: flex;
      flex-direction: row;
      a{
        padding: 0px 5px;
        text-decoration: none;
        font-size: 1.1rem;
      }
    }
  }&__tdGreen{
    color: green;
  }
  &__tdRed{
    color: red;
  } &__tdOrange{
    color:orange;
  }
  }










