html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

h1{
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-top: 0.2em;
  font-size: 30px;
  font-weight: 700;
}
h2{
  font-style: normal;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-top: 1.2em;
  font-size: 21px;
  font-weight: 700;
}
h3{
padding-top: 18px;
padding-bottom: 0px;
font-style: normal;
font-size: 18px;
font-weight: 700;

}
p{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.35rem;
  font-size: 16px;
}
li{
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3rem;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

@media (max-width : 767px )
{
  h2{
    font-size: 30px;
    line-height: 1.2;
  }
  p{
    font-size: 26px;
    line-height: 1.5;
  }
  h3{
    font-size: 27px;
    }
    li{
      font-size: 26px;
      line-height: 1.5;

    }
}