@use '/styles/vars';

.img{
border-radius: 5px;
}
.wrapper{
  float: right;
  padding:0.8rem;
}

.sectionMain{
  margin: 5rem auto 2rem auto;
  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    div{
      border: 1px vars.$text-purple solid;
      border-radius: 5px;
      padding: 0.5rem;
      background-color: vars.$text-purple;
      color: honeydew;
      width: 15rem;
      text-align: center;
    }
  }
}
.subtitle{
  width: fit-content;
  margin: 6rem auto 3rem auto;
  border-bottom: 1px black solid;
}

// .table{
//   border: solid 1px black;
// }
.tr{
  border: solid 1px black;

}
.td{
  border: solid 1px black;

}

.th{
  border: solid 1px black;

}