@use '/styles/vars';

.img {
  border-radius: 5px;
}

.description {
  height: fit-content;
  padding-bottom: 1rem;

  &__header {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
      list-style: none;
    }

    div {
      width: 33%;
      padding: 0 1.9rem;

      h3 {
        padding-bottom: 1.5rem;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }


    a {
      cursor: pointer;
      text-align: center;
      list-style: none;
      width: 33%;
      padding: 0rem 1.5rem;
      color: black;
      text-decoration: none;
      margin: 2rem 0rem 5rem 0rem;

      svg {
        border: 1px solid vars.$text-purple;
        background-color: vars.$text-purple;
        border-radius: 50%;
        padding: 0.4rem;
        width: 7rem;
        height: 7rem;
        text-align: center;
        margin: 0.5rem;
        font-size: 5.5rem;
        color: white;
      }

    }
  }
}

#clockIcon {
  padding: 0.7rem;
}

@media (max-width :1108px) {
  #clocktitle {
    padding-bottom: 0.3rem;
  }
}



#formateurIcon {
  border: 1px solid vars.$text-purple;
  background-color: vars.$text-purple;
  border-radius: 50%;
  padding: 0.2rem 0.1rem 0.2rem 0.6rem;
  text-align: center;
  margin: 0.5rem;
  font-size: 5.5rem;
  color: white;
}

.wrapper {
  float: right;
  padding: 0rem 0.1rem 0.1rem 0.6rem;
}

.sectionFormations {
  &__article {
    padding-bottom: 0.5rem;
  }

  &__table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
    margin: 0rem 0.4rem 2.5rem 0.4rem;
    font-size: 1.5rem;
    font-weight: 700;

    button {
      border: 2px vars.$text-yellow solid;
      border-radius: 5px;
      padding: 0.5rem;
      color: vars.$text-purple;
      width: 15rem;
      height: 3.2rem;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.9rem;
      background-color: white;
    }

    .active {
      background-color: vars.$text-purple;
      outline: none;
      color: white;
    }
  }
}

.subtitle {
  width: fit-content;
  margin: 1rem auto 3rem auto;
  border-bottom: 2px vars.$text-purple solid;
  color: vars.$text-purple;
}

.advantages {
  padding-top: 0.5rem;
}

@media(min-width: 767px) and (max-width: 1023px) // test sur ipad ** FINI // reduction taille header ******************

  {
  .sectionFormations {

    button {
      width: 12rem;
      height: 3rem;
      font-size: 0.9rem;
    }
  }
}