.img{
border-radius: 5px;
}
.wrapper{
  float: right;
  padding:0.8rem;
}

.subtitle{
  width: fit-content;
  margin: 5rem auto 3rem auto;
  border-bottom: 1px black solid;
}

// .table{
//   border: solid 1px black;
// }
.tr{
  border: solid 1px black;

}
.td{
  border: solid 1px black;

}

.th{
  border: solid 1px black;

}