@use '/styles/vars';

#logolink {
  text-decoration: none;
}

.layoutContainer {
  // border: green solid 5px;
  display: flex;
  flex-direction: column;


  .header {
    // tout le header sans la nav

    // border: solid 1px red;
    height: 103px;
    padding: 5px 40px 0px 40px;
    // border: red 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    &__logo {
      margin-top: 0px;
      // border: orange 3px solid;
      min-width: 33%;
      display: flex;
      flex-direction: column;

      &__title {
        // border: solid 1px red;
        height: 60px;

        a {
          width: 100%;
          display: flex;
          flex-direction: row;

          h1 {
            font-size: 2rem;
            width: 300px;
            margin: 0;
            padding-top: 12px;
            color: vars.$text-purple;
          }

          img {
            margin: 0.8rem 0.5rem;
            width: 30px;
            height: 30px;
          }
        }

      }

      &__contact {
        display: flex;
        flex-direction: column;
        padding-left: 50px;

        a {
          text-decoration: none;
          color: vars.$text-purple;
          font-weight: bold;
          width: fit-content;
        }

        a:hover {
          color: vars.$text-yellow;
        }
      }
    }

    &__title {
      padding-left: 50px;
      margin-top: 0px;
      // border: orange 3px solid;
      min-width: 33%;
      text-align: center;
      color: vars.$text-purple;
    }

    &__keywords {
      // border: orange 3px solid;
      min-width: 33%;
      text-align: right;
      color: vars.$text-purple;
      padding-top: 15px;

      strong {
        font-size: 1.2rem;
      }
    }
  }





  // navbar
  .navBar {
    position: sticky;
    top: 0;
    height: 5rem;
    background-color: white;
    padding-top: 2rem;
    z-index: 999;
  }

  nav {

    position: sticky;
    top: 0;
    height: 2rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-bottom: vars.$text-yellow 3px solid;
    background-color: white;

    .navlink {
      text-decoration: none;
      margin-left: 0.1rem;
      margin-right: 0.1rem;
      color: vars.$text-purple;
      font-size: 1.5rem;
      padding: 0.4rem 0.6rem 0rem 0.9rem;
    }

    .navlink:hover {
      outline: 0px vars.$text-purple solid;
      border-radius: 5px 5px 0px 0px;
      background-color: vars.$text-purple;
      color: honeydew;
    }

    .navlinkActive {
      text-decoration: none;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      font-size: 1.5rem;
      padding: 0.4rem 0.6rem 0rem 0.9rem;
      outline: 0px vars.$text-purple solid;
      border-radius: 5px 5px 0px 0px;
      background-color: vars.$text-purple;
      color: honeydew;
    }
  }

  //****main****//
  .mainContainer {}

  //****footer****//
  .footerContainer {
    margin-top: 4rem;
    padding: 0rem 5rem;
    width: 100%;
    height: 8.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: whitesmoke;

    .srOnly {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      /* added line */
      border: 0;
    }

    p {
      padding: 0;
      margin: 2px;
    }



    .about {
      padding-top: 1rem;
      width: 48%;
      text-align: center;
      font-weight: bold;
      color: vars.$text-purple;

      &__text {
        font-weight: normal;
        font-size: 0.8rem;



      }

      &__link {
        text-decoration: none;
        font-size: 0.8rem;
      }

      &__link:hover {
        border-bottom: vars.$text-purple solid 1px;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        color: vars.$text-purple;
      }

      a:hover {
        border-bottom: vars.$text-purple solid 1px;
      }
    }

    .map {
      width: 48%;
      text-align: center;
      list-style: none;
      font-weight: bold;

      li {
        margin: 0;
        line-height: 1.2rem;
        padding: 0;
      }

      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: vars.$text-purple;
      }

      a:hover {
        border-bottom: vars.$text-purple solid 1px;
      }
    }
  }
}


@media(min-width: 3073px) {
  .mainContainer {
    margin: 1.5rem 60rem;
  }
}

@media(min-width: 2143px) and (max-width: 3073px) {
  .mainContainer {
    margin: 1.5rem 38rem;
  }
}

@media(min-width: 1570px) and (max-width: 2143px) {
  .mainContainer {
    margin: 1.5rem 17rem;
  }
}


@media(min-width: 1389px) and (max-width: 1570px) {
  .mainContainer {
    margin: 1.5rem 10rem;
  }
}


// tablette 
// tablette 
@media(min-width: 1024px) and (max-width: 1388px) {
  .layoutContainer {
    .header {
      &__logo {
        &__title {
          a {
            h1 {
              font-size: 1.5rem;
            }

            img {
              width: 25px;
              height: 25px;
            }
          }
        }

        &__contact {
          margin-top: -5px;
        }
      }

      &__title {
        h2 {
          font-size: 1.1rem;
        }
      }

      &__keywords {
        strong {
          font-size: 1rem;
        }
      }
    }

    .mainContainer {
      margin: 1.5rem 2rem;
    }

    nav {
      height: 1.75rem;

      .navlink {
        font-size: 1.3rem;
      }

      .navlinkActive {
        font-size: 1.3rem;
      }
    }

    .footerContainer {

      height: 9.2em;

      p {
        padding: 0;
        margin: 2px;
      }

      .about {
        &__text {
          font-size: 0.72rem;
        }
      }
    }
  }
}


@media(min-width: 767px) and (max-width: 1023px) // test sur ipad ** FINI // reduction taille header ******************

  {
  .layoutContainer {
    .header {
      padding: 5px 10px;
      height: 85px;

      &__logo {
        &__title {
          a {
            h1 {
              font-size: 1.2rem;
            }

            img {
              width: 20px;
              height: 20px;
            }
          }
        }

        &__contact {
          font-size: 0.8rem;
          margin-top: -15px;
        }
      }

      &__title {
        h2 {
          font-size: 1rem;
        }
      }

      &__keywords {
        strong {
          font-size: 1rem;
        }
      }
    }

    .mainContainer {
      margin: 1.5rem 0.8rem;
    }

    nav {
      height: 1.35rem;

      .navlink {
        font-size: 0.95rem;
      }

      .navlinkActive {
        font-size: 0.95rem;
      }
    }

    .footerContainer {

      height: 9.5em;

      p {
        padding: 0;
        margin: 2px;
      }

      .about {
        &__text {
          font-size: 0.56rem;
        }
      }
    }
  }
}


@media(min-width: 320px) and (max-width: 766px) // test sur surface duo FINI

  {
  .layoutContainer {
    width: fit-content;

    .header {

      &__logo {
        &__title {
          a {
            h1 {

              font-size: 1.4rem;
            }

            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }

      &__title {
        h2 {
          font-size: 1.3rem;
        }
      }

      &__keywords {
        strong {
          font-size: 1.3rem;
        }
      }
    }

    .mainContainer {
      width: 100%;
      padding: 0 0.2rem;
    }

    nav {
      height: 1.65rem;

      .navlink {
        font-size: 1.3rem;
      }

      .navlinkActive {
        font-size: 1.5rem;
      }
    }
  }


}